<!DOCTYPE html>
<html>
<head>
    
    <title>User Details</title>
</head>
<body>
    
    <h1>User Details</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{user.role}}</td>
        </tr>
        
    </table>
    <br>
    <a href="{{ url_for('users') }}">Back to Users List</a>
    
    
</body>
</html>
